/ Page Content
.container
  .row
    .col-lg-12.text-center
      %h1 A Bootstrap Starter Template
      %p.lead
        A Bootstrap HTML starter template from
        = succeed "." do
          %a{:href => "http://startbootstrap.com/"} startbootstrap.com
      %ul.list-unstyled
        %li Bootstrap
        %li jQuery
  / /.row
/ /.container
